.section-specialty {
  height: 330px;
  //border: 1px solid red;
  background: #f5f5f5;

  .specialty-container {
    margin: 0 350px;
    display: flex;
    flex-direction: column;

    .specialty-header {
      height: 60px;
      margin-bottom: 30px;
      padding-top: 30px;

      .title-section {
        font-size: 22px;
        font-weight: 600;
      }
      .btn-section {
        float: right;
        display: block;
        border: none;
        outline: none;
        padding: 10px 15px;
        background-color: #ebebeb;
        color: black;
        cursor: pointer;
        text-transform: uppercase;
        &:hover {
          color: #fff;
          background: #f7d800;
        }
      }
    }
    .specialty-body {
      //reset slick slider css
      .specialty-customize {
        .bg-image {
          height: 150px;
          width: 278px;
          background: url("../../../assets/specialty/anhtest.jpeg");
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          background-color: #eee;
        }
      }
      .slick-prev {
        left: 0 !important;
        left: -10px !important;
        z-index: 1000 !important;
        height: 48px !important;
        width: 44px !important;
        background: #fff !important;
        border: 2px solid #d7d7d7 !important;
        &:hover {
          background: #f1f0f0 !important;
        }
      }
      .slick-next {
        right: 0 !important;
        right: -10px !important;
        z-index: 1000 !important;
        height: 48px !important;
        width: 44px !important;
        background: #fff !important;
        border: 2px solid #d7d7d7 !important;
        &:hover {
          background: #f1f0f0 !important;
        }
      }
      .slick-next::before,
      .slick-prev::before {
        font-family: FontAwesome !important;
        color: red !important;
        // content: "\e258" !important;
      }
    }
  }
}
