.section-share {
  &.section-specialty {
    background: #f5f5f5;
  }
  &.section-outstanding-doctor {
    background: #f5f5f5;
  }

  .section-body {

    .section-customize {
      .bg-image {
        height: 150px;
        width: 278px;

        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #eee;
        &.section-specialty {
          background-image: url("../../assets/specialty/anhtest.jpeg");
        }
        &.section-medical-facility {
          background-image: url("../../assets/medical-facility/benh-vien-thu-cuc.jpg");
        }
        &.section-outstanding-doctor {
          background-image: url("../../assets/outstanding-doctor/anh-dai-dien-bs.jpg");
          width: 120px;
          height: 120px;
          border-radius: 50%;
        }
        &.section-handbook {
          background-image: url("../../assets/handbook/nieng-rang-o-dau-tphcm.png");
        }
      }
    }
  }
}
.section-share {
  height: 330px;

  .section-container {
    margin: 0 350px;
    display: flex;
    flex-direction: column;

    .section-header {
      height: 60px;
      margin-bottom: 30px;
      padding-top: 30px;

      .title-section {
        font-size: 22px;
        font-weight: 600;
      }
      .btn-section {
        float: right;
        display: block;
        border: none;
        outline: none;
        padding: 10px 15px;
        background-color: #ebebeb;
        color: black;
        cursor: pointer;
        text-transform: uppercase;
        &:hover {
          color: #fff;
          background: #f7d800;
        }
      }
    }
  }
}
.section-outstanding-doctor {
  .outer-bg {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
    .section-customize{
      padding: 5px;
      .customize-border{
        border: 1px solid orange;
        padding: 20px;
      }
    }
  
}
//reset slick slider css
.slick-prev {
  left: 0 !important;
  left: -10px !important;
  z-index: 1000 !important;
  height: 48px !important;
  width: 44px !important;
  background: #fff !important;
  border: 2px solid #d7d7d7 !important;
  &:hover {
    background: #f1f0f0 !important;
  }
}
.slick-next {
  right: 0 !important;
  right: -10px !important;
  z-index: 1000 !important;
  height: 48px !important;
  width: 44px !important;
  background: #fff !important;
  border: 2px solid #d7d7d7 !important;
  &:hover {
    background: #f1f0f0 !important;
  }
}
.slick-next::before,
.slick-prev::before {
  font-family: FontAwesome !important;
  color: red !important;
  // content: "\e258" !important;
}
